.highSalary {
	background-color: red;
	text-align: center;
	padding: 8px;
	display: inline-block;
	border-radius: 2px;
	animation: flashingBackground 3s infinite;
}

#employeeTable,
th,
td {
	padding: 2px;
	border-width: 3px;
	border-style: line;
	border-collapse: collapse;
}

td {
	padding: 6px 20px;
	border-style: double;
}

th {
	padding: 6px 20px;
	border-style: double;
	font-size: 12pt;
}

header {
	font-size: 24pt;
	text-align: Center;
	background-image: linear-gradient(to right, white, green);
	padding: 4px;
	margin: 8px;
	border-radius: 10px;

}


#addEmployee-Btn {
	padding: 4px;
	margin: 2px;
	border-width: 2px;

}

@keyframes flashingBackground {
	0% {
		background-color: red;
	}

	25% {
		background-color: white;
	}

	50% {
		background-color: red;
	}

	75% {
		background-color: white;
	}

	100% {
		background-color: red;
	}
}

input {
	color: black;
	padding: 4px 8px;
	margin: 6px 4px;
	cursor: auto;
}